* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.background-img{
    background-image: url(background.png);
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    
}
.tittle{
    padding-top: 10px;
    height: 60px;
    width:100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    transition: all;
}
.tittle:hover{
    transform: translateY(20px);
    transition-duration: 3s;
}
@media screen and (min-width: 1000px) {
    .tittle{
        width: 400px;
        height: 162px;
    }
}
@media screen and (min-width: 1400px) {
    .tittle{
        width: 100vw;
        height: 238px;
    }
}

